.MuiToolbar-root, .MuiSvgIcon-root{
    color:white
}

.btn-delete{
    padding: 0.5rem;
    background-color: red;
    color: white;
    border-radius: 0.5rem;
    width: 100px;
    font-weight: 700;
    border: 1px solid rgb(0, 0, 0);

    &:hover{
        background-color: rgba(255, 0, 0, 0.315);
        cursor: pointer;
    }
}

.bg-zero{
    background-color: rgba(255, 0, 0, 0.452) !important;
}